<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saadiqbal.bookapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon48"
        android:label="Complete Ghalib"
        android:roundIcon="@drawable/icon48"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstBookIndex"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondBookIndex"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdBookIndex"
            android:screenOrientation="portrait" />
        <activity android:name=".ReaderBook" />
        <activity
            android:name=".MainAppScreenHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail3"
            android:screenOrientation="portrait" />
        <activity android:name=".detail4" />
        <activity android:name=".detailbook4" />
        <activity android:name=".FourthBookIndex" />
        <activity android:name=".infocscreen"></activity>
    </application>

</manifest>